  <div class="d-flex justify-content-center mt-5">
  <img src="../../../../assets/img/cbao.png" alt="" width="200" height="80" class="d-inline-block align-text-top">
  <div class="card mx-5 w-50" style="border-color: tomato;border-width: 5px;border-top-left-radius: 20px;">
    <div class="body mx-5 text-end pb-3 me-3">
      <h3 style="color: tomato;" class="align-self-center mt-3">Bienvenue tres chers clients</h3>
    </div>
  </div>
</div>

<div class="card w-50 mx-auto mt-5" style="border-color: tomato;border-width: 5px;border-radius: 10px;">
  <div class="card-header text-white d-flex justify-content-between" style="background-color: tomato;">
    <h3>Quelle operation voulez-vous faire ?</h3>
    <p class="align-self-center">{{formattedDateTime | date}}</p>
  </div>
  <div class="card-body" >
    <div class="card-group text-center" >
      <div class="card" *ngFor="let service of service" style="border:none">
        <form [formGroup]="ticketForm" *ngFor="let ticket of ticket">
          <input type="hidden" formControlName="numero" [value]="numero" >
        <button type="button" *ngIf="service.initService == 'V'" class="btn btn-light btn-lg mx-auto" style="width: 80%;height: 120px;border-radius: 10px;" (click)="addTicket(service.nomService,ticket.numero,service.initService,false)" >
          <img src="../../../assets/img/versement.png" alt="" width="50" height="50">
          <h4 class="mt-2" style="color: tomato;"><b>{{ service.nomService }}</b></h4>
          <!-- <div #printSection>
              1 Versent
          </div> -->
        </button> 
        <button type="button" *ngIf="service.initService == 'R'" class="btn btn-light btn-lg mx-auto" style="width: 80%;height: 120px;border-radius: 10px;" (click)="addTicket(service.nomService,ticket.numero,service.initService,false)" >
          <img src="../../../assets/img/versement.png" alt="" width="50" height="50">
          <h4 class="mt-2" style="color: tomato;"><b>{{ service.nomService }}</b></h4>
          <!-- <div #printSection>
              1 Versent
          </div> -->
        </button>
        <button type="button" *ngIf="service.initService == 'P'" class="btn btn-light btn-lg mx-auto" style="width: 80%;height: 120px;border-radius: 10px;" (click)="addTicket(service.nomService,ticket.numero,service.initService,false)" >
          <img src="../../../assets/img/versement.png" alt="" width="50" height="50">
          <h4 class="mt-2" style="color: tomato;"><b>{{ service.nomService }}</b></h4>
          <!-- <div #printSection>
              1 Versent
          </div> -->
        </button>   
      </form>
             
      </div>
    </div>
  </div>
</div>