<nav class="navbar navbar-light mt-2 mx-auto" style="border-radius: 20px;background-color:#0081B4;width:98%">
  <div class="container-fluid d-flex justify-content-end">
    <h5 class="align-self-center text-white">{{ caissier.nomComp }}</h5>
    <a class="navbar-brand mx-2" href="#">
      <img src="../../../assets/img/im_1.JPG"  width="50" height="50" class="float-end" style="border-radius: 100%;">

    </a>

  </div>
</nav>
<br>
<div class="container" >
  <div class="row">
    <div class="col">
      <div class="card text-white mb-3 mx-auto" style="max-width: 50%;background-color: #0081B4;border: none;border-radius: 30px;">
        <div class="card-header mt-0" style="background-color: aliceblue;opacity: 90%;border-radius: 29px 29px 0 0;">
          <div class="position-relative d-flex">
            <div class=" top-0 start-0"><h3 style="color:#0081B4;">APITA BANK</h3></div>
            <div class="position-absolute top-0 end-0 align-self-center"><p style="color:#0081B4;">{{ counter | date:'mm:ss:SS' }}</p></div>
          </div>
        </div>
        <div class="card-body mt-2" >
          <form [formGroup]="ticketUpForm">
            <div *ngIf="ticketsE">
              <div *ngIf="ticketsE.length == 1;else noData">
                <div class="card-body mt-2"  *ngFor="let ticketF of ticketsE" >
                  <div class="container" >
                    <div class="row justify-content-center"  >
                      <div class="col-12 text-center">
                        <h2 class="text-center">EN SERVICE</h2>
                      </div>
                      <br><br>
                      <div class="col-12 text-center" >
                        <button type="button" class="btn btn-light btn-lg" style="width: 250px;height: 250px;border-radius: 100%;" disabled>
                          <h2 style="color: #0081B4;font-size: 90px;line-height: 53px;"><b>{{ ticketF.numS}}</b></h2> </button>
                      </div>
                      <br><br><br><br>
                      <div class="col-12 text-center pt-4" >
                        <div class="row justify-content-md-center row-cols-auto">
                          <div class="col">
                            <h5>{{ ticketF.nameS}}</h5>
                          </div>
                          <div class="col">
                            <p>Caisse {{ caissier.caisse }}</p>
                          </div>
                        </div>
                      </div>
                      <br><br>

                      <div class="col-12 text-center pt-3">
                        <div class="row justify-content-md-center row-cols-auto">
                          <div class="col">
                            <button type="submit" class="btn  btn-lg" style="width: 80px;height: 80px;border-radius: 100%;background-color: #17DC2B;" (click)="okbtnClick(ticketF.idT,ticketF.numero,caissier.caisse)">
                              <!--                      <fa-icon [icon]="faCheck" style="color:aliceblue;"></fa-icon>-->
                              <i class="material-icons" style="font-size: 50px; line-height: 50px;color: aliceblue">done</i>
                            </button>
                          </div>
                          <div class="col">
                            <button type="button" class="btn btn-light btn-lg" style="width: 80px;height: 80px;background-color:bisque;border-radius: 100%;" (click)="nShowbtnClick(ticketF.idT,ticketF.numero,caissier.caisse)">
                              <!--                      <fa-icon [icon]="faArrowRight" style="color:aliceblue"></fa-icon>-->
                              <i class="material-icons" style="font-size: 50px; line-height: 50px;color: aliceblue">east</i>
                            </button>
                          </div>
                          <div class="col">
                            <button type="button" class="btn btn-lg" style="width: 80px;height: 80px;border-radius: 100%;background-color: #1FC4E9;" (click)="playSound(ticketF.numero,caissier.caisse);">
                              <!--                      <fa-icon [icon]="faMicrophone" style="color:aliceblue;"></fa-icon>-->
                              <i class="material-icons" style="font-size: 50px; line-height: 50px;color: aliceblue">mic</i>
                            </button>
                          </div>
                          <div class="col">
                            <button type="button" class="btn  btn-lg" style="width: 80px;height: 80px;border-radius: 100%;background-color: #EABD08;" (click)="notShowbtnClick(ticketF.idT,ticketF.numero,caissier.caisse)">
                              <i class="material-icons" style="font-size: 50px; line-height: 50px;color: aliceblue">subdirectory_arrow_left</i>
                            </button>
                          </div>
                          <!--                  <div class="col">-->
                          <!--                    <button type="button" class="btn  btn-lg" style="width: 80px;height: 80px;border-radius: 100%;background-color: #D23939;" >-->
                          <!--&lt;!&ndash;                      <fa-icon [icon]="faShare" style="color:aliceblue;"></fa-icon>&ndash;&gt;-->
                          <!--                    </button>-->
                          <!--                  </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noData [ngIf]="!showBadge">
              <div class="card-body mt-2">
                <div class="container" >
                  <div class="row justify-content-center" >
                    <div class="col-12 text-center">
                      <h2 class="text-center">EN SERVICE</h2>
                    </div>
                    <br><br>
                    <div class="col-12 text-center" >
                      <button type="button" class="btn btn-light btn-lg" style="width: 250px;height: 250px;border-radius: 100%;" disabled>
                        <h2 style="color: #0081B4;font-size: 50px;line-height: 53px;"><b>Neant</b></h2> </button>
                    </div>
                    <br><br><br><br>
                    <div class="col-12 text-center pt-4" >
                      <div class="row justify-content-md-center row-cols-auto">
                        <div class="col">
                          <h5>Nean</h5>
                        </div>
                        <div class="col">
                          <p>Caisse Neant</p>
                        </div>
                      </div>
                    </div>
                    <br><br>

                    <div class="col-12 text-center pt-3">
                      <div class="row justify-content-md-center row-cols-auto">


                        <div class="col" *ngFor="let ticket of ticketsF">
                          <button type="button" class="btn btn-lg" style="width: 80px;height: 80px;border-radius: 100%;background-color: #1FC4E9;" (click)="callT(ticket.idT,ticket.numero,caissier.caisse);">
                            <i class="material-icons" style="font-size: 46px; line-height: 46px;color: aliceblue">mic</i>
                          </button>
                        </div>

                        <!--                  <div class="col">-->
                        <!--                    <button type="button" class="btn  btn-lg" style="width: 80px;height: 80px;border-radius: 100%;background-color: #D23939;" >-->
                        <!--&lt;!&ndash;                      <fa-icon [icon]="faShare" style="color:aliceblue;"></fa-icon>&ndash;&gt;-->
                        <!--                    </button>-->
                        <!--                  </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </ng-template>

          </form>
        </div>
      </div>





  </div>
    <div class="col-1">
      <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="material-icons" style="font-size: 30px; line-height: 30px;color: #1FC4E9">tune</i>
      </button>


      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">La File d'attente</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">

          </button>
        </div>
        <div class="offcanvas-body">
          <div class="container">
            <div class="row">
              <div class="col-8"><button class="btn btn-light btn-lg" (click)="showContentOne()"> Client en attente </button></div>
              <div class="col"><button class="btn btn-light btn-lg" (click)="showContentTwo()">Autre </button></div>
            </div>
            <!--            <div class="row" >-->
            <!--              <div class="col-12" *ngFor="let ticket of tickets">-->
            <!--                <div class="d-flex justify-content-between">-->
            <!--                  <h5>{{ ticket.numS }}</h5>-->
            <!--                  <p class="align-self-center">{{ ticket.nameS }}</p>-->
            <!--                </div>-->
            <!--                <hr>-->
            <!--                <br>-->
            <!--              </div>-->

            <!--            </div>-->


            <div *ngIf="showContent1">
              <div class="row mt-4" >
                <div class="col-12" *ngFor="let ticket of tickets">
                  <div class="d-flex justify-content-between">

                    <h5>{{ ticket.numS }}</h5>
                    <p class="align-self-center">{{ ticket.Statuts  }}</p>
                  </div>
                  <hr>
                  <br>
                </div>

              </div>
            </div>

            <div *ngIf="showContent2">
              <div class="row mt-4" >
                <div class="col-12" *ngFor="let ticketD of ticketsD" style="border: none;">
                  <div class="d-flex justify-content-between">
                    <button type="button" class="btn" *ngIf="ticketD.Statuts == 'P'" (click)="nShowbtnClick(ticketD.idT,ticketD.numero,caissier.caisse)" disabled>
                      <i class="material-icons" style="font-size: 26px; line-height: 26px;color: #1FC4E9">refresh</i>
                    </button>
                    <button type="button" class="btn" *ngIf="ticketD.Statuts == 'N'" (click)="callT(ticketD.idT,ticketD.numero,caissier.caisse)">
                      <i class="material-icons" style="font-size: 26px; line-height: 26px;color: #1FC4E9">refresh</i>
                    </button>

                      <button type="button" class="btn" style="border: none"  *ngIf="ticketD.Statuts == 'S'" disabled>
                        <i class="material-icons" style="font-size: 26px; line-height: 26px;color: #1FC4E9">refresh</i>
                      </button>
                      <button type="button" class="btn" style="border: none"  *ngIf="ticketD.Statuts == 'E'" disabled>
                        <i class="material-icons" style="font-size: 26px; line-height: 26px;color: #1FC4E9">refresh</i>
                      </button>


                    <h5 class="align-self-center">{{ ticketD.numS }}</h5>

                    <button type="button" class="btn" *ngIf="ticketD.Statuts == 'P'" disabled style="border: none">
                      <p class="text-bg-danger">{{ ticketD.Statuts }}</p>
                    </button>
                    <button type="button" class="btn" *ngIf="ticketD.Statuts == 'S'" disabled>
                      <p class="" style="color: #17DC2B">{{ ticketD.Statuts }}</p>
                    </button>
                    <button type="button" class="btn" *ngIf="ticketD.Statuts == 'N'" disabled style="border: none">
                      <p class="text-bg-danger">{{ ticketD.Statuts }}</p>
                    </button>
                    <button type="button" class="btn" *ngIf="ticketD.Statuts == 'E'" disabled style="border: none">
                      <p class="text-bg-danger">{{ ticketD.Statuts }}</p>
                    </button>





                  </div>
                  <hr>
                </div>

              </div>
            </div>


          </div>
      </div>
    </div>
</div>

</div>
<br>
</div>
